

*{
  font-family: "Monaco";
}




/*Main*/

::-webkit-scrollbar { /* Chrome Safari */
  width: 0;
  height: 0;
}

div .videoCards.card.mb-3.text-center.bg-light.mx-auto {
  width: 250px;
}

div .videoColumn {
  max-height: 768px; 
  min-width: 275px;
}

div .videoCardsDiv {
  width: 210px;
}

video {
  width: 200px;
}


/*Main (Responsive)*/
@media only screen and (max-width: 1123px) {
  
  video .container-fluid {
    width: 500px;
  }

  .mainVideo {
    margin: 20vh auto;
    margin-left: 90px;
  }

  .mainVideoDiv {
    margin-bottom: -100px;
  }

  div .videoColumn {
    margin: 10vh auto;
    min-width: 500px;
  }

  div .videoCards.card.mb-3.text-center.bg-light.mx-auto {
    margin: 50px;
    width: 470px;
    height: 375px;
  }
  
  div .videoCardsDiv {
    width: 450px;
  }

  .videosIndex {
    width: 99%;
    display: block;
  }

}
scrollbar-width: none; /* Firefox */

-ms-overflow-style: none; /* IE 10+ */




/*Nav*/

fill :hover {
  fill: black;
}

.btn-sm svg {
  fill: white;
}

.btn-sm:hover svg {
  fill: black;
}

.wallet.btn-sm.me-2.pb-0 {
  font-size: 12px;
}

.disconnect.btn-sm {
  font-size: 12px;
}

.connect.btn-sm {
  font-size: 12px;
}

.navbar-dark {
  background-color: #6E31E0;
  font-family: "Monaco";
}

.navbar-brand {
  margin-left: 15px;
}

.nav-link {
  margin-right: 8px;
}





/*NoWeb3NotificationModal*/

.modal {
  font-family:  "Monaco";
}

.modal-title {
  text-align: center;
}

.metamask {
  color:  white;
  text-decoration: none;
}

.mx-auto.modal-button {
  background-color: #6E31E0;
}




/*Footer*/

.footer {
  margin-top: 300px;
  background-color: #6E31E0;
}


.footer-content.navbar-brand {
  padding-top: 20px;
  font-size: 10px;
}











