
/*Main*/

.image {
  margin-right: 3px;
  background-color:  pink;
}

::-webkit-scrollbar { /* Chrome Safari */
  width: 0;
  height: 0;
}

scrollbar-width: none; /* Firefox */

-ms-overflow-style: none; /* IE 10+ */





/*Nav*/

fill :hover {
  fill: black;
}

.btn-sm svg {
  fill: white;
}

.btn-sm:hover svg {
  fill: black;
}

.wallet.btn-sm.me-2.pb-0 {
  font-size: 12px;
}

.disconnect.btn-sm {
  font-size: 12px;
}

.connect.btn-sm {
  font-size: 12px;
}

.navbar {
  background-color: #6E31E0;
  font-family: "Monaco";
}

.navbar-brand {
  margin-left: 15px;
}

.nav-link {
  margin-right: 8px;
}





/*NoWeb3NotificationModal*/

.modal {
  font-family:  "Monaco";
}

.metamask {
  color:  white;
  text-decoration: none;
}

.mx-auto.modal-button {
  background-color: #6E31E0;
}

















